@import '../../scss/variables.scss';
.container-menu {
  display: none;
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 60px;
  min-height: 30px;
  @include desktop {
    display: block;
  }
}

.box-menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.list-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  & li {
    cursor: pointer;
    margin-right: 60px;
    font-family: $general;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: $white-smoke;
  }
}