@import '../../scss/variables.scss';

.container-fluid-footer {
  width: 100%;
  height: 100vh;
  background-color: $green_footer;
  display: flex;
}

.continer-footer {
  display: block;
  position: relative;
  width: 1140px;
  margin: 0 auto;
  padding: 20px;

  @include desktop {
    padding: 40px;
  }
}

.container-left {
  position: absolute;
  z-index: 1;
  @include desktop {
    position: relative;
  }
}

.box-title-footer {
  margin-top: 60px;
  max-width: 420px;

  @include desktop {
    margin-top: 120px;

  }
}

.title-footer {
  font-weight: 600;
  font-family: $outstanding;
  color: $text_dark;
  font-size: 48px;
  line-height: 52px;
  margin-top: 0;
  margin-bottom: 20px;

  @include desktop {
    font-size: 72px;
    line-height: 80px;
  }
}

.content-footer {
  color: $text_dark;
  font-size: 14px;
  line-height: 18px;
  font-family: $general;
  font-weight: 400;

  @include desktop {
    font-size: 20px;
    line-height: 32px;
  }
}

.content-contact {
  margin-top: 50px;

  & p {
    display: flex;
    align-items: center;
    color: $text_dark;
    font-size: 14px;
    line-height: 18px;
    font-family: $general;
    font-weight: 400;
    & span:first-child {
      padding-top: 5px;
      margin-right: 8px;
    }
  }

  @include desktop {
    margin-top: 0;

    p {
      margin-top: 0;
      font-size: 20px;
      line-height: 32px;

    }
  }
}

.content-copyright {
  width: 100%;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  align-items: center;
  left: 0;

  & p {
    color: #5a918d;
    line-height: 18px;
    font-size: 14px;
    font-family: $general;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
  }

  @include desktop {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;

    & p {
      line-height: 32px;
      font-size: 20px;
    }
  }
}

.moon-footer {
  position: absolute;
  z-index: 0;
  right: -60%;
  width: 400px;
  top: 10%;

  @include desktop {
    right: -20%;
    width: 660px;
    top: 10%;
  }
}