@import "../../scss/variables.scss";

.container-projects {
  width: 100%;
  position: relative;
  height: 150vh;
  @include desktop {
    height: 100vh;

  }
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  font-family: $outstanding;
  color: $white-smoke;
  @include desktop {
    width: 400px;
    font-size: 72px;
    line-height: 80px;
    margin-top: 30px;
  }
}

.container-carousel-projects {
  position: relative;
  padding-top: 120px;
  width: 1140px;
  height: 600px;
  color: #fff;
  @include desktop {
    padding-top: 300px;
  }
}
.background-projects {
  z-index: -1;
  top: 20%;
  left: 22%;
  border-radius: 50%;
  position: absolute;
  width: 1200px;
  height: 550px;
  transform: translate(-50%, -50%) rotate(5deg);
  opacity: 0.4;
  filter: blur(50px);
  background: radial-gradient(rgb(8, 23, 98) 60%, rgba(6,7,38,1) 95%);
  // background: radial-gradient(at right 60%,red,yellow,green);
  @include desktop {
    top: 35%;
  }
}

.carousel {
  max-width: 100vw;
  height: 800px;
  position: relative;
  width: 100%;
  .carousel__slide {
    min-height: 650px;
  }
  @include desktop {
    padding: 0;
  }
}

.container-item-carousel {
  display: flex;
  flex-direction: column-reverse;
  max-width: calc(100vw - 40px);

  @include desktop {
    flex-direction: row;
    max-width: initial;
  }
}

.box-carousel-projects {

  @include desktop {
    max-height: 500px;
  }
}

.content-item-carousel {
  max-width: 100vw;
  & h4 {
    padding: 0 20px;
    font-family: $outstanding;
    font-size: 36px;
    color: $white-smoke;
    margin: 10px 0;
    font-weight: 400;
  }
  
  & p {
    padding: 0 20px;
    font-size: 14px;
    line-height: 18px;
    font-family: $general;
  }
  
  @include desktop {
    width: 635px;
    max-width: 635px;
    & h4 {
      padding: 0;
      font-size: 60px;
      margin: 0;
      margin-bottom:24px
    }
  
    & p {
      margin: 0;
      padding: 0;
      font-size: 20px;
      line-height: 32px;
    }

  }
}

.image-item-carousel {

  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
  & img {
    max-height: 280px;
    width: auto;
  }
  @include desktop {
    width: 500px;
    & img {
      max-height: initial;
      max-width: 300px;
      width: 100%;
    }
  }
}

.button-item-carousel {
  margin-left: 20px;
  cursor: pointer;
  width: 175px;
  height: 48px;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid $white-smoke;
  background-color: transparent;
  background-size: 200% 100%;	
	background-image: linear-gradient(to right, transparent 50%, rgba(255, 255, 255, 1) 50%);
	transition: background-position .8s cubic-bezier(0.19, 1, 0.22, 1) .1s, color 1s ease 0s, background-color 1s ease;
  & span {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    font-family: $general;
    margin: 0;
    color: $white-smoke;
  }
  & svg {
    margin-left: 10px;
    color: $white-smoke;
  }
  &:hover{

    color: $marine_dark;
    background-color: rgba(255, 255, 255, 1);
    background-position: -100% 100%;
    & svg, & span {
      color: $marine_dark;
    }
  }

  @include desktop {
    width: 266px;
    height: 64px;
    border-radius: 32px;
    margin-top: 40px;
    margin-left: 0;

    & span {
      padding-top: 5px;
      font-size: 20px;
      line-height: 30px;
      padding-top: 5px;
    }
  }
}

.carousel__dot-group {
  text-align: center;
}

.carousel__dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #f1f4fa;
  height: 8px;
  width: 8px;
  opacity: 0.6;
  margin: 0 5px;
  border-radius: 5px;
  transition: width 0.2s linear 0s;

  &.carousel__dot--selected {
    opacity: 1;
    width: 20px;
    transition: width 0.2s linear 0s;
  }

}